<div class="row">
  <div class="col-md-6">
    <h1>Listing teams</h1>

  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <% Conference.all.each do |conference| %>
      <h1><%= conference.name %> Conference</h1>
      <% conference.divisions.each do |division| %>
        <h3><%= division.name %> Conference</h3>
        <% division.teams.each do |team| %>
          <div class="row">
            <td><%= team.full_name %></td>
            <td><%= team.nba_id %></td>
            <td><%= link_to 'Show', team %></td>
            <td><%= link_to 'Edit', edit_team_path(team) %></td>
            <td><%= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </div>
        <% end %>
      <% end %>
    <% end %>

    <%= link_to 'New Team', new_team_path %>
  </div>
</div>
