<div ng-controller="GameDayCtrl">
  <div id="date-info" data-year="<%= @date.year %>" data-month="<%= @date.month %>" data-day="<%= @date.day %>"></div>

  <h1><%= @date %></h1>

  <% @games.each do |game| %>
    <div class="row">
      <div class="col-md-6">
        <label><input type="checkbox" checked class="ginfo" data-gid="<%= game.id %>"></input><%="#{game.away_team.full_name} at #{game.home_team.full_name}"%><%= link_to "(link)", game %></label>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-6">
      <button class="btn btn-success" ng-click="generateLineups()" id="generate-lineup">Generate Lineup</button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <label><input type="checkbox" checked class="only-starters"></input>Only Starters?</label>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Pos</th>
            <th>Name</th>
            <th>Salary</th>
            <th>Expected Points</th>
            <th>Actual Points</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="player in lineup1.players">
            <td class="position">{{player.position}}</td>
            <td class="name"><a href="/players/{{player.player.id}}">{{player.player.full_name}}</a></td>
            <td class="salary">{{player.salary}}</td>
            <td class="expected-points">{{player.expected_points | number:2}}</td>
            <td class="actual-points-dk">{{player.actual_points | number:2}}</td>
          </tr>
        </tbody>
      </table>
      <div>
        Total Salary: <span id="lineup-salary">{{lineup1.salary | number:2}}</span>
      </div>
      <div>
        Expected Points: <span id="lineup-expected-points">{{lineup1.expected_points | number:2}}</span>
      </div>
      <div>
        Actual Points: <span id="lineup-actual-points-dk">{{lineup1.actual_points_dk | number:2}}</span>
      </div>
    </div>

    <div class="col-md-6">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Pos</th>
            <th>Name</th>
            <th>Salary</th>
            <th>Expected Points</th>
            <th>Actual Points</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="player in lineup2.players">
            <td class="position">{{player.position}}</td>
            <td class="name"><a href="/players/{{player.player.id}}">{{player.player.full_name}}</a></td>
            <td class="salary">{{player.salary}}</td>
            <td class="expected-points">{{player.expected_points | number:2}}</td>
            <td class="actual-points-dk">{{player.actual_points | number:2}}</td>
          </tr>
        </tbody>
      </table>
      <div>
        Total Salary: <span id="lineup-salary">{{lineup2.salary}}</span>
      </div>
      <div>
        Expected Points: <span id="lineup-expected-points">{{lineup2.expected_points | number:2}}</span>
      </div>
      <div>
        Actual Points: <span id="lineup-actual-points-dk">{{lineup2.actual_points_dk | number:2}}</span>
      </div>
    </div>

  </div>


  <div class="row">
    <div class="col-md-6">
      <h4>In</h4>
      <%= render partial: "player_costs/table", locals: {player_costs: @player_costs.where(healthy: true), healthy: true} %>
    </div>
    <div class="col-md-6">
      <h4>Out</h4>
      <%= render partial: "player_costs/table", locals: {player_costs: @player_costs.where(healthy: false), healthy: false} %>
    </div>
  </div>

</div>



