<div ng-controller="GameDayCtrl">
  <div id="date-info" data-year="<%= @date.year %>" data-month="<%= @date.month %>" data-day="<%= @date.day %>"></div>
  <div id="site-info" data-site-id="<%= @site.id %>"></div>

  <h1><%= @date %></h1>

  <div class="row">
    <div class="col-md-6">
      <% @games.each do |game| %>
        <div class="row">
          <div class="col-md-12">
            <label><input type="checkbox" checked class="ginfo" data-gid="<%= game.id %>"></input><%="#{game.away_team.full_name} at #{game.home_team.full_name}"%><%= link_to "(link)", game %></label>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-md-6">
      <h4>Locked</h4>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Pos</th>
            <th>Name</th>
            <th>Salary</th>
            <th>Expected Points</th>
            <th>Locked?</th>
            <th>Out</th>
          </tr>
        </thead>
        <tbody class="pcs-healthy">
            <tr ng-repeat="player in players | filter:{locked:'true'} | orderBy:'-expected_points'">
              <td>{{player.position}}</td>
              <td><a href="/players/{{player.player.id}}">{{player.player.first_name}} {{player.player.last_name}}</a></td>
              <td>{{player.salary}}</td>
              <td>{{player.expected_points | number:2}}</td>
              <td ng-show="player.locked"><button ng-click="playerUnlock(player)" class="btn btn-success pc-unlock">Unlock</button></td>
              <td ng-hide="player.locked"><button ng-click="playerLock(player)" class="btn btn-error pc-lock">Lock</button></td>
              <td><button ng-click="playerOut(player)" class="btn btn-warning pc-out">Out</button></td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <button class="btn btn-success" ng-click="generateLineups()" id="generate-lineup">Generate Lineup</button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Pos</th>
            <th>Name</th>
            <th>Salary</th>
            <th>Expected Points</th>
            <th>Actual Points</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="player in lineup1.players">
            <td class="position">{{player.position}}</td>
            <td class="name"><a href="/players/{{player.player.id}}">{{player.player.full_name}}</a></td>
            <td class="salary">{{player.salary}}</td>
            <td class="expected-points">{{player.expected_points | number:2}}</td>
            <td class="actual-points-dk">{{player.actual_points | number:2}}</td>
          </tr>
        </tbody>
      </table>
      <div>
        Total Salary: <span id="lineup-salary">{{lineup1.salary | number:2}}</span>
      </div>
      <div>
        Expected Points: <span id="lineup-expected-points">{{lineup1.expected_points | number:2}}</span>
      </div>
      <div>
        Actual Points: <span id="lineup-actual-points-dk">{{lineup1.actual_points_dk | number:2}}</span>
      </div>
    </div>

    <div class="col-md-6">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Pos</th>
            <th>Name</th>
            <th>Salary</th>
            <th>Expected Points</th>
            <th>Actual Points</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="player in lineup2.players">
            <td class="position">{{player.position}}</td>
            <td class="name"><a href="/players/{{player.player.id}}">{{player.player.full_name}}</a></td>
            <td class="salary">{{player.salary}}</td>
            <td class="expected-points">{{player.expected_points | number:2}}</td>
            <td class="actual-points-dk">{{player.actual_points | number:2}}</td>
          </tr>
        </tbody>
      </table>
      <div>
        Total Salary: <span id="lineup-salary">{{lineup2.salary}}</span>
      </div>
      <div>
        Expected Points: <span id="lineup-expected-points">{{lineup2.expected_points | number:2}}</span>
      </div>
      <div>
        Actual Points: <span id="lineup-actual-points-dk">{{lineup2.actual_points_dk | number:2}}</span>
      </div>
    </div>

  </div>


  <div class="row">
    <div class="col-md-6">
      <h4>In</h4>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Pos</th>
            <th>Name</th>
            <th>Salary</th>
            <th>Expected Points</th>
            <th>Locked?</th>
            <th>Out</th>
          </tr>
        </thead>
        <tbody class="pcs-healthy">
            <tr ng-repeat="player in players | filter:{healthy:'true'} | orderBy:'-expected_points'">
              <td>{{player.position}}</td>
              <td><a href="/players/{{player.player.id}}">{{player.player.first_name}} {{player.player.last_name}}</a></td>
              <td>{{player.salary}}</td>
              <td>{{player.expected_points | number:2}}</td>
              <td ng-show="player.locked"><button ng-click="playerUnlock(player)" class="btn btn-success pc-unlock">Unlock</button></td>
              <td ng-hide="player.locked"><button ng-click="playerLock(player)" class="btn btn-error pc-lock">Lock</button></td>
              <td><button ng-click="playerOut(player)" class="btn btn-warning pc-out">Out</button></td>
            </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6">
      <h4>Out</h4>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Pos</th>
            <th>Name</th>
            <th>Salary</th>
            <th>Expected Points</th>
            <th>Out</th>
          </tr>
        </thead>
        <tbody class="pcs-healthy">
            <tr ng-repeat="player in players | filter:{healthy:'false'} | orderBy:'-expected_points'">
              <td>{{player.position}}</td>
              <td><a href="/players/{{player.player.id}}">{{player.player.first_name}} {{player.player.last_name}}</a></td>
              <td>{{player.salary}}</td>
              <td>{{player.expected_points | number:2}}</td>
              <td><button ng-click="playerIn(player)" class="btn btn-warning pc-out">In</button></td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>



